<div>
  <div class="bar">
    <nav>
      <input type="checkbox" id="show-menu" />
      <label for="show-menu" class="menu-icon">
        <fa-icon [icon]="navToggle"></fa-icon>
      </label>
      <div class="content">
        <a href="/admin" class="text-center"
          ><img
            src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-logo-light.png"
            class="food-munch-logo"
        /></a>
        <ul class="links">
          <li>
            <a routerLink="/admin" routerLinkActive="active">Why Choose Us? </a>
          </li>

          <li>
            <a routerLink="/timesheet">Explore Menu</a>
          </li>
          <li>
            <a routerLink="/timesheet">Delievery & Payment</a>
          </li>
          <li>
            <a routerLink="/timesheet">Follow Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
